<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">

    <title>Sample using the OpenUI5 googlemaps library</title>

    <script id="sap-ui-bootstrap" type="text/javascript" src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
            data-sap-ui-theme="sap_belize"
            data-sap-ui-libs="sap.ui.commons,sap.ui.layout,openui5.googlemaps"
            data-sap-ui-resourceroots='{
            "openui5.googlemaps": "../dist/openui5/googlemaps/"}'>
    </script>

    <!-- XML-based view definition -->
    <script id="view1" type="sapui5/xmlview">
        <mvc:View controllerName="local.controller" xmlns="sap.m" xmlns:mvc="sap.ui.core.mvc" xmlns:l="sap.ui.layout"
             xmlns:f="sap.ui.layout.form" xmlns:c="sap.ui.core" xmlns:gmaps="openui5.googlemaps">

            <!--
				Form needs to be set to editable for proper label alignment.
				See http://stackoverflow.com/questions/28981312/vertical-label-alignment-in-sapui5-label-too-high
				-->

            <f:Form id="form1" editable="true">
                <f:title>
                    <c:Title text="Map Search"></c:Title>
                </f:title>
                <f:formContainers>
                    <f:FormContainer>
                        <f:formElements>
                            <f:FormElement>
                                <f:label>
                                    <Label text="Query Address" />
                                </f:label>
                                <f:fields>
                                    <Input id="query" showSuggestion="true" suggest="onSuggest" change="onChange">
                                    <layoutData>
                                        <l:GridData span="L3 M6 S12" />
                                    </layoutData>
                                    </Input>
                                    <Button text="My Location" press="onMyLocation">
											<layoutData>
												<l:GridData span="L2 M2 S12" />
											</layoutData>
										</Button>
                                </f:fields>
                            </f:FormElement>

                            <f:FormElement>
                                <f:label>
                                    <Label text="Latitiude / Longitude" />
                                </f:label>
                                <f:fields>
                                    <Input value="{lat}">
                                    <layoutData>
                                        <l:GridData span="L2 M4 S8"></l:GridData>
                                    </layoutData>
                                    </Input>
                                    <Input value="{lng}">
                                    <layoutData>
                                        <l:GridData span="L2 M4 S8"></l:GridData>
                                    </layoutData>
                                    </Input>
                                </f:fields>
                            </f:FormElement>

                            <f:FormElement>
                                <f:fields>
                                    <gmaps:Map width="600px" height="400px" mapTypeControl="true" zoom="12" lat="{lat}" lng="{lng}" apiKey="AIzaSyD6EmAk92gaGzjYVYU-ebd_BK-rgejSoZ0" markers="{/places}" click="onClick">

                                        <gmaps:markers>
                                            <gmaps:Marker lat="{markerLat}" lng="{markerLng}" info="{name}" icon="{path:'name', formatter:'.getMarkerIcon'}" animation="0" draggable="true" dragEnd="onMarkerDragEnd" />
                                        </gmaps:markers>

                                        <gmaps:layoutData>
                                            <l:GridData span="L8 M12 S12"></l:GridData>
                                        </gmaps:layoutData>
                                    </gmaps:Map>
                                </f:fields>
                            </f:FormElement>
                        </f:formElements>
                    </f:FormContainer>
                </f:formContainers>
                <f:layout>
                    <f:ResponsiveGridLayout></f:ResponsiveGridLayout>
                </f:layout>
            </f:Form>

        </mvc:View>
    </script>

    <script>
        // Libraries can be loaded dynamically with loadLibrary(), but
        // we are using the UI5 bootstrap.

        //sap.ui.getCore().loadLibrary("googlemaps", "googlemaps");
        sap.ui.getCore().attachInit(function() {

            // Controller definition
            sap.ui.controller("local.controller", {

                onInit: function(oEvent) {
                    this.util = openui5.googlemaps.MapUtils;

                    // Initial place marker
                    var places = [{
                        name: "Bondi Beach",
                        lat: -33.890542,
                        lng: 151.274856,
                        markerLat: -33.890542,
                        markerLng: 151.274856
                    }];

                    this.oModel = new sap.ui.model.json.JSONModel();

                    this.oModel.setData({
                        places: places
                    });

                    sap.ui.getCore().setModel(this.oModel);

                    this.oContext = this.oModel.getContext('/places/0/');
                    this.byId("form1").setBindingContext(this.oContext);
                },

                /*
                Lookup address as we type (after 3 chars). List of results is
                presented to the callback.
                */
                onSuggest: function(oEvent) {
                    var sValue = oEvent.getParameter("suggestValue");
                    if (sValue.length > 3) {
                        this.util.search({
                            "address": sValue
                        }).done(jQuery.proxy(this.searchResults, this));
                    }
                },

                /*
                Get the new value in the query address input field and change
                the model.
                */
                onChange: function(oEvent) {


let lat = lng = null;
                    if (oEvent) {
                        var val = oEvent.getParameters("newValue").newValue;
                        var oCtxt = oEvent.getSource().getBindingContext();
                        this.locations.forEach(function(oLocation) {
                            if (oLocation.value === val) {
                                oCtxt.getModel().setProperty("lat", oLocation.lat, oCtxt);
                                oCtxt.getModel().setProperty("lng", oLocation.lng, oCtxt);
                                oCtxt.getModel().setProperty("markerLat", oLocation.lat, oCtxt);
                                oCtxt.getModel().setProperty("markerLng", oLocation.lng, oCtxt);
                                oCtxt.getModel().setProperty("name", oLocation.value, oCtxt);
                                lat = oLocation.lat; lng = oLocation.lng;
                            }
                        });
                    }

                    alert("lat: " +  lat + '. lng ' +  lng);
                },

                /*
                Suggestions callback function which shows the user all the
                matching suggestions.
                We can probably bind to this resultset directly in the XML
                view, but I haven't tried yet.
                */
                searchResults: function(results, status) {
                    var that = this;
                    this.locations = [];

                    this.locations = jQuery.map(results, function(item) {
                        var location = {};
                        location.value = item.formatted_address;
                        location.lat = item.geometry.location.lat();
                        location.lng = item.geometry.location.lng();
                        return location;
                    });

                    var queryInput = this.byId("query");
                    queryInput.removeAllSuggestionItems();
                    this.locations.forEach(function(item) {
                        queryInput.addSuggestionItem(new sap.ui.core.ListItem({
                            text: item.value
                        }));
                    });
                },

                /*
                Update model with location and return a lat/long object
                */
                getLocation: function(oPos) {
                    this.oModel.setProperty("lat", oPos.lat, this.oContext);
                    this.oModel.setProperty("lng", oPos.lng, this.oContext);
                    this.oModel.setProperty("markerLat", oPos.lat, this.oContext);
                    this.oModel.setProperty("markerLng", oPos.lng, this.oContext);
                    this.oModel.setProperty("name", "My Location", this.oContext);
                    return this.util.objToLatLng(oPos);
                },

                updateLocation: function(sLocation) {
                    this.oModel.setProperty(this.oContext.getPath() + "name", sLocation);
                    this.byId("query").setValue(sLocation);
                },

                /*
                When My Location button is pressed, get the current location
                from Google, then geocode it, then update the mmodel and
                address query input element.
                */
                onMyLocation: function(oEvent) {
                    this.util.currentPosition()
                        .then(this.getLocation.bind(this))
                        .then(this.util.geocodePosition)
                        .done(this.updateLocation.bind(this));
                },

                /*
                On marker drag end
                */
                onMarkerDragEnd: function(oEvent) {
                    this.util.geocodePosition(oEvent.getParameters().position).done(this.updateLocation.bind(this));
                },

                /*
                Map click handler - call Geo stuff in HANA to get postal boundary polygon - TODO
                */
                onClick: function(oEvent) {
                    alert("Clicked. Lat: " + oEvent.getParameters().lat + ", Lng: " + oEvent.getParameters().lng);
                },

                /*
                Get the pinkball icon for the marker 
                */
                getMarkerIcon: function() {
                    return jQuery.sap.getModulePath("openui5.googlemaps.themes." + "base") + "/img/pinkball.png"
                }

            });

            // Instantiate the View
            var oView = sap.ui.xmlview({
                viewContent: jQuery("#view1").html()
            });

            oView.placeAt("content");
        });
    </script>
</head>

<body class="sapUiBody" role="application" id="content">
</body>

</html>