
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chart1 {
    width: 90% !important;
    height: auto !important;
    margin: 0px auto !important;
}

#chart2 {
    width: 800px !important;
    height: 400px !important;
    margin: 0px auto !important;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    color: #ffcb22;
}

.captionText{
    color: white;
    display: block;
    float:left;
    font-size:25px !important;
    background-color: #0b2c5d;

    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.button_color {
    background-color: #ffcb22 !important;
}

.table_content {
    /* border-style: inset; */
    border-color: #0b2c5d;
    /* overflow: hidden; */
    width: 100%;
    /*  margin-top: 70px;  */
    height: 100px;
}

.footer {
    color: white;
    background-color: #071e3f;
    width:100%;
    height: 100px;
}

.product_label_color{
    color: #003a70;
    font-weight: bold;
}