<!--

-->



<!DOCTYPE html>

<!--
<meta name="csrf-token" content="{{ csrf_token() }}">
-->

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Master-Detail</title>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="./js/custom.js"></script>

	<script>

		alert('run ajax');
		//<!-- test this using: http://dividendtrakr.devlocal.com/ui5/DividendTracker/webapp/test_webservice.html  -->
		runAjax('http://dividendtrakr.devlocal.com/addPortfolio');

	</script>

</head>
<body class="sapUiBody">

<!-- page will not load without this. data-name is source to find Component.js -->
	<div data-sap-ui-component data-name="sap.ui.demo.masterdetail"
		 data-id="container" data-settings='{"id" : "masterdetail"}'></div>
</body>
</html>