a:hover {
    color: #1f648b !important;
}

a {
    /* color:lightblue !important; */
    color: white !important;
    /*  font-size: large;
   margin-right: 20px; */
}

/* this does not change ui5 color */
.sapUiRootBackground, .sapMShellGlobalOuterBackground {
    background: linear-gradient(to bottom, #0b2c5d, #e7ecf0) !important;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body {
    background-color: #0b2c5d;
    height: 100%;
    width: 100%;
    margin: 0;
}

.bg_color {
    background-color: #0b2c5d !important;
}

#div_iframe {
    /*
    border-style: inset;
    border-color: grey;
    overflow: scroll; */
    /*  height: 1600px; */
    /*   margin-bottom: 70px;  */
    /*  height: 200vh; */

    border-style: inset;
    border-color: #0b2c5d;
    overflow: hidden;
    width: 100%;
    margin-top: 70px;
    height: 225%;

}

/* this will set the initial size of the iframe */
#iframe {
    width: 100%;
    height: 200%; /* 10x the div height to embrace the whole page */
    /* position: absolute;*/
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    color: #ffcb22;
}

.captionText{
    color: white;
    display: block;
    float:left;
    font-size:25px !important;
    background-color: #0b2c5d;

    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.button_color {
    background-color: #ffcb22 !important;
}

.logo_bg_image {
    background-image: url("../images/peakLighting/logo-bg.jpg");
    padding-top: 10px;
}

#logo_image {
    background-image: url("../images/peakLighting/logo.png");
    padding: 60px;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    /* margin: 0; */
    margin-left: 10px;
    /* padding-bottom: 70px; */
}

.table_content {
    /* border-style: inset; */
    border-color: #0b2c5d;
    /* overflow: hidden; */
    width: 100%;
    /*  margin-top: 70px;  */
    height: 300px;
}

.footer {
    color: white;
    background-color: #071e3f;
    width:100%;
    height: 150px;
}

.product_label_color{
    color: #003a70;
    font-weight: bold;
}