/* Navigation */
.myAppMain .myNavButton {
    background-color: white; 
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    padding: 5px 10px;
    text-align:center;
}

.myAppMain .myNavButton:hover {
    background-color: black; 
    color: gray;
    font-size: 16px;
}


/* Header and Content */
.myAppMain .myContentMidText {
    font-size: 20px;
}

.myAppMain .myHeaderh1 {
    margin-left: 10px;
    font-size: 16px;
}


/* Bar Chart */
.MyAppBarChart .bar{
    fill: #5499C7 ;
  }

 .MyAppBarChart .bar:hover{
    fill: #CA6F1E;
  }

.MyAppBarChart	.axis {
	  font: 10px sans-serif;
	}

.MyAppBarChart	.axis path,
                .axis line {
                 fill: none;
                 stroke: #000;
                 shape-rendering: crispEdges;
                }

/* Pie Chart */
.MyAppPie    {
    float:left;
    position: absolute;
    left: 10px;
    bottom: 0px;
    z-index: -1;
}


.MyAppPie .arc text {
  font: 15px sans-serif;
}

.MyAppPie .arc path {
  stroke: #afb3b5;
  stroke-width: 2px;
}


/* Line Graph */
.MyLineGraph .line{
  fill: none;
   stroke: #5499C7;
   stroke-width: 2px;
   shape-rendering: crispEdges;
}

.MyLineGraph .line:hover{
    stroke: #CA6F1E; 
    stroke-width: 4px;
  }

